.btn {
  padding: 12px;
  width: 80%;
  border-radius: 5px;
  display: flex;
  margin: auto;
  justify-content: center;
  /* margin-top: 40px; */
  font-size: medium;
}

.secondary {
  background-color: black;
  color: white;
}

.primary {
  background-color: #007aff;
  color: white;
}

.tertiary{
  background-color: gray;

}
img {
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 900px) {
  .btn {
    padding: 12px;
    width: 50%;
  }
}


@media screen and (min-width: 1024px) {
  .btn {
    width: 80%;
  }
}
