.forgot-password {
  font-size: small;
  color: #007aff;
  padding: 3px;
  text-decoration: none;
}

h2 {
  right: 30px;
  margin-left: 3rem;
  font-size: large;
  padding-top: 5vh;
}

.slide {
  display: flex;
  justify-content: space-around;
  font-size: small;
}
.line {
  border: 1px solid #cccccccc;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
.account {
  display: flex;
  justify-content: space-around;
  font-size: small;
  margin-bottom: 28%;
}

.span {
  margin: 5px;
  color: #007aff;
  cursor: pointer;
}




@media only screen and (min-width: 1024px) {
  /* .line {
  } */
  h2 {
    right: 30px;
    margin-left: 2rem;
 ;
  }
}
