<div id="forms">
  <h2>Nice to see you again</h2>

  <app-input
  label="Login"
  type="text"
  placeholder="Email or phone number"
  (value)="validateLogin($event)"></app-input>
  <app-input  *ngIf="isPassword"  label="Password"
  type="password"
  placeholder=" Enter password"></app-input>
  <div class="slide">
    <mat-slide-toggle   [color]="color">Remember me</mat-slide-toggle>
    <span (click)="redirectDashboard()" class="forgot-password">Forgot password?</span>
  </div>

  <app-button class="btn" className="primary" (click)="envoyer()"
    >sign in</app-button
  >
  <hr class="line" />
  <app-button class="btn" className="secondary" logo="assets/google.png">
    <img class="google" [src]="logo" alt="" *ngIf="logo" />
    or sign in with google</app-button
  >
  <div class="account">
    <p>
      Don't have a account?
      <span class="span" (click)="handleClick()">Sign up now</span>
    </p>
  </div>
</div>
